/* styles.scss */

/*-- scss:defaults --*/
$navbar-hl: #1E90FF; 
$link-color: #1E90FF;
$link-hover-color: darken($link-color, 15%);

h1, h2 {
  font-family: 'Trebuchet MS', sans-serif;  
  font-weight: 600;                    
  letter-spacing: 0.1px;             
}

/*-- scss:rules --*/
.grid {
  margin-top: 70px;
}

.custom-title {
  text-align: center;      
  font-size: 1.1rem;         
  font-family: 'Trebuchet MS', sans-serif;  
  color: #739EC9; 
  font-weight: bold; 
  margin-bottom: 20px;
}

.abstract {
  font-size: 0.9rem;   
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.6;
  padding-left: 1rem;
  margin-bottom: 20px;
}